[submodule "Submodules/CkCommons"]
	path = Submodules/CkCommons
	url = https://github.com/CordeliaMist/CkCommons.git
[submodule "Submodules/SundouleiaAPI"]
	path = Submodules/SundouleiaAPI
	url = https://github.com/Sundouleia/api.git
[submodule "Submodules/OtterGui"]
	path = Submodules/OtterGui
	url = https://github.com/Ottermandias/OtterGui.git
[submodule "Submodules/PenumbraAPI"]
	path = Submodules/PenumbraAPI
	url = https://github.com/Ottermandias/Penumbra.Api.git
[submodule "Submodules/GlamourerAPI"]
	path = Submodules/GlamourerAPI
	url = https://github.com/Ottermandias/Glamourer.Api.git
[submodule "Submodules/GameDataStrings"]
	path = Submodules/GameDataStrings
	url = https://github.com/Ottermandias/Penumbra.String.git
[submodule "Submodules/GameData"]
	path = Submodules/GameData
	url = https://github.com/Ottermandias/Penumbra.GameData.git
[submodule "Submodules/BrioAPI"]
	path = Submodules/BrioAPI
	url = https://github.com/Etheirys/Brio.API.git
